<h1>Save any kind of movies</h1>
<h2>Classic</h2>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %>
    <% if list.photo.attached? %>
    <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to "New list", new_list_path %></p>
